@import '../styles/elevation.scss';

$padding: 1rem;

:global {
  .muvy-card {
    display: inline-block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    @include box-shadow(1);
  }

  .muvy-card--content {
    display: flex;
    padding: $padding;
  }

  .muvy-card--header {
    display: flex;
    margin: 0;
    padding: $padding;

    > * + * {
      margin-left: 1rem;
    }
  }
}
