@import '../styles/elevation.scss';

$padding: 1rem;

.card {
  display: inline-block;
  background: white;
  border-radius: 2px;
  overflow: hidden;
  @include box-shadow(2);
}
.content {
  display: flex;
  padding: $padding;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: $padding;

  > * + * {
    margin-left: 1rem;
  }
}
